@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 0px) {
  html body {
    min-height: 100vh;
    background-color: whitesmoke;
    position: relative;
  }
  html body div#disclaimerPopUp {
    position: fixed;
    z-index: 7;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: opacity 0.75s;
  }
  html body div#disclaimerPopUp p {
    text-align: center;
  }
  html body header {
    position: initial;
    display: flex;
    height: 5rem;
    top: 0;
    width: 100%;
    background-color: white;
    color: rgb(0, 8, 85);
    align-items: center;
    z-index: 3;
    transition: opacity 0.75s;
  }
  html body header h1 {
    font-size: 2rem;
    margin: 0 0 0 5%;
    font-family: "Lucida Handwriting", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  html body header img#logo {
    height: 5rem;
    width: auto;
    margin: 0 0 0 0%;
  }
  html body header p {
    display: none;
  }
  html body header div#hamBtn {
    color: rgb(0, 8, 85);
    font-size: 1.5rem;
    margin: 0 5% 0 auto;
    font-weight: bold;
    cursor: pointer;
  }
  html body header div#filterSettings_void {
    position: fixed;
    right: 60vw;
    top: 0;
    height: 0vh;
    z-index: 3;
  }
  html body header div#filterSettings_holder {
    display: none;
    position: fixed;
    overflow-y: scroll;
    z-index: 3;
    background-color: rgb(0, 8, 85);
    color: white;
    right: 0;
    top: 0;
    height: 0vh;
    width: 0vw;
  }
  html body header div#filterSettings_holder ul {
    padding: 0;
    margin: 0;
  }
  html body header div#filterSettings_holder ul li {
    text-align: center;
    list-style-type: none;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.35s;
  }
  html body header div#filterSettings_holder ul li:hover {
    background-color: rgb(1, 5, 42);
  }
  html body header div#filterSettings_void.visible {
    width: 0vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    -webkit-animation-name: unfold2;
            animation-name: unfold2;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  html body header div#filterSettings_holder.visible {
    display: block;
    width: 0vw;
    height: 100vh;
    -webkit-animation-name: unfold;
            animation-name: unfold;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  html body header div#filterSettings_holder.visible ul#nav {
    display: block;
  }
  html body header div#filterSettings_holder.visible ul#nav li.dropDwn_holder {
    padding: 0;
    line-height: 5rem;
  }
  html body header div#filterSettings_holder.visible ul#nav li.dropDwn_holder ul {
    display: none;
  }
  html body header div#filterSettings_holder.visible ul#nav li.dropDwn_holder ul.showList {
    display: block;
    background-color: rgb(1, 5, 42);
  }
  html body header div#filterSettings_holder.visible ul#nav li.dropDwn_holder ul.showList li.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding: 0;
    font-size: 1.5rem;
  }
  html body header div#filterSettings_holder.visible ul#nav li.dropDwn_holder ul.showList li.filter:hover,
html body header div#filterSettings_holder.visible ul#nav li.dropDwn_holder ul.showList li.filter:active {
    background-color: rgb(50, 50, 50);
  }
  html body header div#filterSettings_holder.visible ul#nav li:hover {
    background-color: rgb(1, 5, 42);
  }
  @-webkit-keyframes unfold {
    from {
      width: 0;
    }
    to {
      width: 65vw;
    }
  }
  @keyframes unfold {
    from {
      width: 0;
    }
    to {
      width: 65vw;
    }
  }
  @-webkit-keyframes unfold2 {
    from {
      width: 0;
      background-color: rgba(0, 0, 0, 0);
    }
    to {
      width: 40vw;
      background-color: rgba(0, 0, 0, 0.75);
    }
  }
  @keyframes unfold2 {
    from {
      width: 0;
      background-color: rgba(0, 0, 0, 0);
    }
    to {
      width: 40vw;
      background-color: rgba(0, 0, 0, 0.75);
    }
  }
  html body header.scrollDownEffect {
    position: fixed;
    -webkit-animation-name: headerSDE;
            animation-name: headerSDE;
    -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  @-webkit-keyframes headerSDE {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes headerSDE {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  html body main {
    position: relative;
    background-color: whitesmoke;
    padding-bottom: 5rem;
    height: 100%;
  }
  html body main section#hero {
    width: 100%;
    height: 20rem;
    background-color: #3a3a3a;
    color: white;
    text-shadow: 2.5px 2.5px 5px black;
    margin-bottom: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  html body main section#hero div#infoHolder {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  html body main section#hero div#infoHolder h2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Dancing Script", cursive;
  }
  html body main section#hero div#infoHolder p {
    width: 80%;
    font-size: 0.75rem;
    margin: 0 auto 0 auto;
    text-align: center;
  }
  html body main section#hero div#infoHolder p#author {
    font-style: italic;
  }
  html body main section#hero img#banner {
    width: 100%;
  }
  html body main div#mainGrid {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  html body main div#mainGrid article.projectHolder {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  html body main div#mainGrid article.projectHolder div.contentHolder {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    cursor: pointer;
  }
  html body main div#mainGrid article.projectHolder div.contentHolder div.infoOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 0px 0px 5px white;
    -webkit-text-stroke: 0.5px black;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
  }
  html body main div#mainGrid article.projectHolder div.contentHolder img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  html body main div#mainGrid article.projectHolder div.contentHolder img[data-src] {
    opacity: 0;
  }
  html body main div#mainGrid article.projectHolder div.contentHolder:hover,
html body main div#mainGrid article.projectHolder div.contentHolder:active {
    transform: scale(1.25);
    transition: 0.35s ease;
  }
  html body main div#mainGrid article.projectHolder div.contentHolder:hover div.infoOverlay,
html body main div#mainGrid article.projectHolder div.contentHolder:active div.infoOverlay {
    top: 0%;
    transition: 0.35s ease;
  }
  html body main div#mainGrid article.projectHolder:nth-child(4n+1) {
    grid-column: 1/span 2;
  }
  html body main div#mainGrid article.projectHolder:nth-child(4n+2) {
    grid-column: 3;
  }
  html body main div#mainGrid article.projectHolder:nth-child(4n+3) {
    grid-column: 1;
  }
  html body main div#mainGrid article.projectHolder:nth-child(4n+4) {
    grid-column: 2/span 2;
  }
  html body footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    margin-top: 0rem;
    background-color: #3a3a3a;
  }
}
@media only screen and (min-width: 760px) {
  html body header {
    height: 5rem;
  }
  html body header h1 {
    margin: 0 0 0 2.5%;
  }
  html body header div#hamBtn {
    font-size: 2.5rem;
    margin: 0 2.5% 0 auto;
  }
  html body header div#filterSettings_holder {
    transition: width 0.25s linear;
  }
  html body header div#filterSettings_holder ul li {
    font-size: 2rem;
  }
  html body main {
    padding-bottom: 7.5rem;
  }
  html body main section#hero {
    width: 100%;
    height: 20rem;
    margin-bottom: 1rem;
  }
  html body main section#hero div#infoHolder {
    height: 20rem;
    width: 100%;
  }
  html body main section#hero div#infoHolder h2 {
    text-align: center;
    margin: 4rem auto 0 auto;
    font-size: 2.5rem;
  }
  html body main section#hero div#infoHolder p {
    text-align: center;
    margin: 1rem auto 0 auto;
    font-size: 1.25rem;
  }
  html body main section#hero div#infoHolder p#author {
    margin-top: 0.25rem;
  }
  html body main section#hero video {
    width: 100%;
    height: initial;
  }
  html body main div#mainGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
  }
  html body main div#mainGrid article.projectHolder {
    width: 100%;
    height: 100%;
  }
  html body main div#mainGrid article.projectHolder div.infoOverlay {
    font-size: 2rem;
  }
  html body main div#mainGrid article.projectHolder:nth-child(3n+1) {
    grid-column: 1;
  }
  html body main div#mainGrid article.projectHolder:nth-child(3n+2) {
    grid-column: 2;
  }
  html body main div#mainGrid article.projectHolder:nth-child(3n+3) {
    grid-column: 3;
  }
  html body main div#mainGrid article.projectHolder:nth-child(3n+4) {
    grid-column: 1;
  }
}
@media only screen and (min-width: 1200px) {
  html body header {
    height: 5rem;
    top: 0;
    width: 100%;
  }
  html body header h1 {
    font-size: 2rem;
    margin: 0 0 0 2%;
  }
  html body header img#logo {
    margin: 0 0 0 0%;
  }
  html body header p {
    display: flex;
    margin: 0 auto 0 1%;
    font-size: 1.5rem;
  }
  html body header div#hamBtn {
    display: none;
  }
  html body header div#filterSettings_holder {
    position: absolute;
    display: block;
    width: 40vw;
    height: 5rem;
    overflow: initial;
  }
  html body header div#filterSettings_holder ul#nav {
    display: flex;
    width: 100%;
    align-items: center;
    height: 5rem;
  }
  html body header div#filterSettings_holder ul#nav li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 1.25rem;
    width: 100%;
    height: 5rem;
  }
  html body header div#filterSettings_holder ul#nav li div#ST_dropDwn_Btn,
html body header div#filterSettings_holder ul#nav li div#YC_dropDwn_Btn {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  html body header div#filterSettings_holder ul#nav li ul {
    display: none;
    margin: 0;
    padding: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  html body header div#filterSettings_holder ul#nav li ul li {
    margin: 0;
    height: 3rem;
    line-height: 1.5rem;
    font-size: 1rem;
    background-color: rgb(1, 5, 42);
    color: white;
  }
  html body header div#filterSettings_holder ul#nav li ul li:hover {
    background-color: #3a3a3a;
  }
  html body header div#filterSettings_holder ul#nav li.dropDwn_holder:hover {
    align-self: start;
    justify-content: start;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  html body header div#filterSettings_holder ul#nav li.dropDwn_holder:hover ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  html body header div#filterSettings_holder ul#nav li.dropDwn_holder:hover ul li {
    width: 100%;
  }
  html body main section#hero {
    height: 35rem;
    margin-bottom: 5rem;
  }
  html body main section#hero div#infoHolder {
    height: 35rem;
    width: 100%;
  }
  html body main section#hero div#infoHolder h2 {
    text-align: center;
    margin: 10rem auto 0 auto;
    font-size: 2.5rem;
  }
  html body main section#hero div#infoHolder p {
    text-align: center;
    margin: 3rem auto 0 auto;
    font-size: 1.5rem;
  }
  html body main section#hero div#infoHolder p#author {
    margin-top: 1rem;
  }
  html body main section#hero video {
    width: 100%;
    height: initial;
  }
  html body main div#mainGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  html body main div#mainGrid article.projectHolder:nth-child(4n+1) {
    grid-column: 1;
  }
  html body main div#mainGrid article.projectHolder:nth-child(4n+2) {
    grid-column: 2;
  }
  html body main div#mainGrid article.projectHolder:nth-child(4n+3) {
    grid-column: 3;
  }
  html body main div#mainGrid article.projectHolder:nth-child(4n+4) {
    grid-column: 4;
  }
}/*# sourceMappingURL=landing.css.map */