@media only screen and (min-width: 0px) {
  html{
    body{
      background-color: rgb(230, 242, 243);
      header{
        // z-index:1;
        // position:absolute;
        // top:0;
        div#bannerANDlogo{
          height: fit-content;
          overflow:initial;
          position:relative;
          div#logoHolder{
            position:relative;
            height: 15vh;
            img#logo{
            }
          }
        }
        nav{
        }
      }
      main{
        background-image:url('../images/Keepers/Numb21.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        position:absolute;
        top:0;
        z-index:-1;
        margin-top: 15vh;
        // height: 85vh;
        width: 100%;
        display:flex;
        div#filter{
          background-color:rgba(230, 242, 243,0.75);
          width: 100%;
          div#pageLabel{
            margin-top: 15vh;
            width: 100%;
            height:fit-content;
            text-align:center;
          }
          div#content{
            margin: 0 auto;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content: center;
           p{
            width: 80%;
            margin: 2.5rem auto;
           } 
           figure{
            width: 80%;
            img{
              width: 100%;
            }
           }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 760px) {
  html{
    body{
      header{
        div#bannerANDlogo{
          img#banner{
            margin-top: 17.5vw;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
  html{
    body{
      header{
        div#bannerANDlogo{
          height: 35rem;
          div#logoHolder{
            img#logo{
              width: 15rem;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1600px) {
}

