@media only screen and (min-width: 0px) {
  html{
    body{
      background-color: rgb(230, 242, 243);
      header{
        // z-index:1;
        // position:absolute;
        // top:0;
        div#bannerANDlogo{
          height: fit-content;
          overflow:initial;
          position:relative;
          div#logoHolder{
            position:relative;
            height: 15vh;
            img#logo{
            }
          }
        }
        nav{
        }
      }
      main{
        background-image:url('../images/Keepers/Numb16.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        position:absolute;
        top:0;
        z-index:-1;
        padding-top: 15vh;
        // height: 85vh;
        width: 100%;
        display:flex;
        div#filter{
          background-color:rgba(230, 242, 243,0.75);
          width: 100%;
          div#pageLabel{
            margin-top: 15vh;
            width: 100%;
            height:fit-content;
            text-align:center;
          }
          div#content{
            margin: 0 auto 5rem auto;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content: center;
           p{
            width: 80%;
            margin: 2.5rem auto;
            padding: 1rem;
            background-color: rgba(53, 113, 181, 0.5);
            border-radius: 10px;
            transition:all 0.5s;
           } 
           p:hover,
           p:active{
            background-color: rgba(53, 113, 181, 0.75);
           }
           figure{
            width: 80%;
            img{
              width: 100%;
            }
           }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 760px) {
  html{
    body{
      main{
        background-image:url('../images/Keepers/Numb21.webp');
        div#filter{
          div#content{
           p{
            font-size: 1.25rem;
           } 
           figure{
            width: 50%;
           }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
  html{
    body{
      header{
        div#bannerANDlogo{
          div#logoHolder{
            height: 17.5vh;
            img#logo{
            }
          }
        }
        nav{
        }
      }
      main{
        margin: 0;
        padding-top: 17.5vh;
        div#filter{
          div#pageLabel{
          }
          div#content{
            flex-direction:row;
            align-items:center;
            justify-content:space-evenly;
            margin: 2.5rem auto 5rem auto;
            width: 80%;
           p{
            margin:0;
            width: 45%;
            line-height: 1.75rem;
           } 
           p:hover,
           p:active{
           }
           figure{
            width: 30%;
            img{
            }
           }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1600px) {
}

